{% extends 'pledges/base.html' %}
{% load i18n %}

{% block content %}
<h1>#NoAllMenPanels</h1>
<section class="intro">
  <p class="description">
    {% blocktrans %}
    Kurze Beschreibung
    {% endblocktrans %}
  </p>
</section>
<div class="bottom">
  <a class="button" href="{% url 'pledges:create_pledge' %}">{% trans 'Create Pledge' %}</a>
  <form action="" method="get" class="search">
    <label class="sr-only" for="search">{% trans 'Search' %}</label>
    <input type="text" id="search" name="q">
    <input type="submit" value="{% trans 'Search' %}">
  </form>
</div>
<section class="pledges">
  {% if featured %}
  {% include 'pledges/pledge_card.html' with pledge=featured %}
  {% endif %}
  {% for pledge in page.object_list %}
  {% if pledge != featured %}
  {% include 'pledges/pledge_card.html' %}
  {% endif %}
  {% endfor %}
</section>
<div class="pagination">
{% if page.has_other_pages %}
  <a class="" href="?page=1">
    &#8676;
  </a>

  {% if page.number|add:'-2' > 1 %}
  <a href="?page={{ page.number|add:'-3' }}">&hellip;</a>
  {% endif %}


  {% for i in page.paginator.page_range %}
  {% if page.number == i %}
  <span>{{ i }}</span> 
  {% elif i > page.number|add:'-3' and i < page.number|add:'3' %}
  <a href="?page={{ i }}">{{ i }}</a>
  {% endif %}
  {% endfor %}

  {% if page.paginator.num_pages > page.number|add:'2' %}
  <a href="?page={{ page.number|add:'3' }}">&hellip;</a>
  {% endif %}

  <a class="" href="?page={{ page.paginator.num_pages }}">
    &#8677;
  </a>
{% endif %}
</div>
{% endblock %}
